* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}

img,
video {
  display: block;
}

label {
  display: block;
}

input:focus {
  outline: none;
}
body {
  font-family: "Plus Jakarta Sans";
  background-color: #f9f9f9;
}
.login {
  display: flex;
  flex-direction: column;
  width: 400px;
  padding: 32px;
  gap: 16px;
  margin: 50px;
  border-radius: 32px;
  border: 1px solid #ccc;
  background: #fff;
}

.login-title {
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.login-subtitle {
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.login-label {
  color: #555;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.login-input {
  width: 336px;
  height: 40px;
  padding-left: 12px;
  justify-content: flex-end;
  align-items: center;
  border-radius: 4px;
  border: 1px solid #ccc;
}
.login-input:hover {
  border-radius: 4px;
  border: 1px solid #000;
  background: #eee;
}
.login-submit {
  height: 40px;
  border: none;
  border-radius: 4px;
  background: #1576ea;
  color: #fff;
}

.login-submit:hover {
  background: #0b0b0b;
}
