* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}

img,
video {
  display: block;
}

label {
  display: block;
}

input:focus {
  outline: none;
}

.login {
  display: flex;
  flex-direction: column;
  width: 400px;
  padding: 32px;
  gap: 16px;
  margin: 50px;
  border-radius: 32px;
  border: 1px solid #ccc;
  background: #fff;
}
